/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background-color: #FAF6E8;
  min-width: 765px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ############################################# */
body {
font-family: 'Noto Sans', sans-serif;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
#login{
  display: none;
}

.nav-image {
  max-width: 15%;
}
.nav-bar {
  background-color: #f7bf4d;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  color: white;

}
.link-list-ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  overflow: hidden;
}


.link-list-ul li{
  padding: 20px 20px;
  float: left;
  border-radius: 6px;
}
.link-list-ul li:not(:last-child):hover {
  background-color: white;
  color:  rgb(255, 158, 47);
}

.nav-list a{
  color:inherit;
  text-decoration: none;
}
.nav-list li a:hover{
  color:inherit;
  text-decoration: none;
  transition: all .4s ease;
}
.nav-bar li {

  margin: 5px;
  /* border: 3px red solid */
}
main{
  height: 100vh;
}

.signup{
  border: 2px white solid !important;
  background-color: white;
  color: rgb(255, 158, 47)
}
.signup:hover{
  border: 2p red solid !important;
  background-color:  #f7bf4d !important;
  color: white !important;
  box-sizing: border-box;
  transition: all .2s ease;
}
.display-name{
  color:inherit;
  text-decoration: none;
}
.display-name:hover{
  text-decoration: none;
  background-color: red !important;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.login-form{
  max-width: 650px;
 
  padding: 50px;
  display: block;
  justify-content: center;
}
.inner-form{
  display: flex;
  justify-content: center;
}
.container-form {
  padding: 16px;
  text-align: center;

}
.login-form input {
  width: 100%;
  padding: 12px 20px;
  height: 60px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
}

.login-form input
{
  font-size:18px;

}
.dropdown
{
  font-size:18px;
  color: #808080;

}
.session-submit{
  background-color: #ef6236;
  border-radius: 6px;
  height: 60px;
  
}
.session-submit:hover{
  cursor: pointer;
  color:#ef6236;
  background-color: #f7bf4d;

}
.login-form button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ef6236;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.header-text{
  color: #ef6236;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 15px;
}
.text-text{
  margin-bottom: 15px;
}
.text-text p{
  line-height: 200%;
  font-weight: 500;
}
.dropdown{
  background-color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  height: 60px;
  color: black
}
.errors{
 margin-bottom: 15px;
 color: red;
}
.auth-flip{
  display: flex;
  text-align: center;
  justify-content: center;
}
.splash-body{
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sec1{
  display: flex;
  position: relative;
  font-family: Arial;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 75vh;
}
.sec1text{
  display: flex;

  position: absolute;
  background-repeat: no-repeat;
  padding-top: 30px;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  background-position:  top;
  flex-direction: column;
  background-size: cover;
}
.sec1  *{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  /* min-width: 700px; */
  text-decoration: none;
   
}
.sec1 h1{
  font-size:250%;
  font-weight: 700;
}
.sec1 p{
  font-size:150%;
}
.sec1 img{
  width: 100%;
  opacity: 0.5;
  filter: grayscale(60%);
  margin: auto;
}

.sec1 a{

  text-align: center;
  width: 310px00px;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  padding:30px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ef6236;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.sec1 a:hover{
  background-color: #f7bf4d;
}
.sec2{
  color: black;
  display: flex;
  justify-content: center;
}
.sec2-inner{
  display: flex;
}
.sec2-blurb{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px;
}
.sec2-blurb h1{
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #ef6236;
}
.sec3{
  background-color: #ffffff;
  min-height: 30px;
}
.sec5{
  /* background-color: red; */
  min-height: 100px;
  color: #5c5c5c;
  display: flex;
  justify-content: center;
}
.sec4{
  color: black;
  min-height: 20px;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  line-height: 200%;
}
.inner4{
  display: flex;
  flex-direction: column;
  text-align: left;
  top: 1000px;
  align-items: center;
}
.rep{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.why{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}
.sec4 img{
  width: 50%
}
.sec4 h1{
  font-weight: 900;
  color: #ef6236;
  font-size: 30px;
}
.sec4 p{
  font-size: 20px;
}
.sec4 h3{
  font-size: 20px;
  font-weight: 900;
}

.footer {
  background-color: #f7bf4d;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
}
.footer p{
  padding: 10px;
}
.footer a{
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.footer-link-list-ul{
  line-height: 200%;

}
.footer-text{
  width: 40%;
  margin-left: 30px;
}
.sec5 a{
  display: flex;
  text-align: center;
  width: 400px;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ef6236;
  color: white;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  padding: 30px;
}
.sec5 div{
  padding: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.sec5 a:hover{
  /* color: red; */
  background-color: #f7bf4d;
}

.hosting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}
.hosting h1{
  color: #ef6236;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 3%;
}
.hosting p{
  font-size: 24px;
  padding: 1%;
}
.hosting img {
  width: auto;
  border: #ef6236 5px solid;
  border-radius: 10px;
}
.eventsindex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select{
  margin: 3%;
  padding: 1%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7be4d54;
  border-radius: 6px;
}
.select p{
  font-size: 26px;
  margin: 1%;
  
}
.citybtn{
  width:100%;
  display: flex;
  
}
.citybtn button{
    width: 50%;
  padding: 12px 20px;
  margin: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ef6236;
  color: white;
  font-weight: bold;
  font-size: 16px;

}
.citybtn button:hover{
  background-color: #f7bf4d;
  cursor: pointer;
  color:  #ef6236;
}
.city {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  
}
.cityname{
  font-size: 30px;
  margin: 20px;
}
.eventitems{
  /* border: 1px solid grey; */
  min-width: 50%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 250px;
  margin: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.eventslist{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.eventitems p{
  text-decoration: none;
  text-align: center;
}
.eventitems-p{
  border: 3px solid rgb(167, 161, 161) ;
  min-width: 50%;
  max-width: 250px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 250px;
  margin: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.eventitems-p button{
  width: 100%;
  overflow: hidden;
  height: 60px;
  /* padding: 12px 20px;
  margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ef6236;
  color: white;
  font-weight: bold;
  font-size: 16px;

}
.event-time {


  margin: 30px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  font-weight: 700;
}
.time {
  margin: 20px
}
.mainshow{
  min-height: 700px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.showitem{
  border-radius: 6px;
  border: rgb(190, 176, 176) 2px solid;
  text-align: center;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mainh{
  margin: 30px;
  font-size: 30px;
  color: #ef6236;
}
.sectit {
  font-size: 24px;
}
.showinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.showinfo ul li {
  margin: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: auto;
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:60%;
  line-height: 200%;
}
.about-text h1{
  font-size: 36px;
  color: #ef6236;
  margin: 30px;
  font-weight: 700;
  padding-top: 20px;
}
.about-text p{
  padding: 30px;
}

.linkimg img {
  max-width: 50px;
  padding: 30px
}
.newbtn{
    width: 50%;
  padding: 12px 20px;
  margin: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ef6236;
  color: white;
  font-weight: bold;
  font-size: 16px;

}
.newbtn:hover{
  background-color: #f7bf4d;
  cursor: pointer;
  color:  #ef6236;
}